extends layout

block content
  h1.f1.pl3= title
  ul.list.pl3
    each day, key in forecast.days
      li
        h1.f4= key
          div.mb4.fl-l.w-100-l
            div.tc.tl-l.fl-l.w-10-l
              p.f5.f4-l.fl.w-25.w-100-l time
              p.f5.f4-l.fl.w-25.w-100-l temp
              p.f5.f4-l.fl.w-25.w-100-l humidity
              p.f5.f4-l.fl.w-25.w-100-l pressure
            each eight in day
              div.tc.tr-l.fl-l.w-10-l
                p.f5.f4-l.fl.w-25.w-100-l #{eight.time}
                p.f5.f4-l.fl.w-25.w-100-l #{Math.round(eight.temp)}°C
                p.f5.f4-l.fl.w-25.w-100-l #{eight.humidity}%
                p.f5.f4-l.fl.w-25.w-100-l #{Math.round(eight.pressure)} hPa