doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/vendor/tachyons.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.sans-serif
    block content
